body {
  font-family: Arial, sans-serif;
  background: linear-gradient(360deg,#8754ff,#8d2de2b3);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 98vh;
}

section {
  width: 90%; /* Adjusted width for responsiveness */
  max-width: 600px; /* Maximum width for larger screens */
  height: auto; /* Adjusted to auto for dynamic height */
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #3498db;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

h3 {
  color: #333;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
  border-bottom: #888888 solid 0.12rem;
}

#optionsHeading {
  margin-bottom: 2rem;
}

#options {
  display: flex;
  flex-direction: column;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2ecc71;
}

#optionValidation {
  color: #f00;
  font-size: 1.2rem;
  margin: 0;
}

#next {
  background-color: #3498db;
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.5rem;
  margin-bottom: -0.5rem;
  position: relative;
}

#score {
  border-bottom: 0;
}

#logo {
  position: absolute;
  top: 2rem;
  left: calc(50% - 3rem); /* Centering the logo */
  border-radius: 2rem;
}

#logo img {
  color: white;
  width: 6rem;
  height: 4rem;
}

/* Media Query for smartphones */
@media screen and (max-width: 480px) {
  section {
    padding: 1rem; /* Adjusted padding for smaller screens */
  }
  h2 {
    font-size: 1.2rem; /* Adjusted font size for smaller screens */
  }
  h3 {
    font-size: 1rem; /* Adjusted font size for smaller screens */
  }
  #logo {
    left: calc(50% - 3rem); /* Centering the logo */
  }
}
